:root{
    font-size: 62.5%;
    --background-color: #000000;
    --text--color: #FFFFFF;
    --heding-list-color: #FFD600;
}
body{
    font-family: 'PT Mono', monospace;
    background-color: var(--background-color);
    color: var(--text--color);
    
}
header{
    background-color: var(--heding-list-color);
}
footer{
    background-color: var(--heding-list-color);
}
p{
    font-size: 1.5rem;
}
.block-center{
    text-align: center;
}
.heading-main{
    font-size: 3.2rem;
    font-weight: 700;
}
.heading{
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
}
.subheadings{
color: var(--heding-list-color);
}
.lol{
    background-color: #FFFFFF1A;
}



 