:root{
    font-size: 62.5%;
    --background-color: #000000;
    --text--color: #FFFFFF;
    --heding-list-color: #FFD600;
}

body{
    font-family: 'PT Mono', monospace;
    background-color: var(--background-color);
    color: var(--text--color);
    
    
}



footer{
    background-color: var(--heding-list-color);
}

a{
    text-decoration: none;
    color:var(--text-color1);
    font-size: 1.688rem;
}

p{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 24px;
}

ul{
    list-style-type: none;
}



/* header */
.link_headr{
    text-decoration: none; 


}

.button_header{
    margin-right: 0px;
    background-color: #000000;
}

/* main */
.hide {
    display: none;
}

.wrapper {
    margin: 0 auto;
    margin-bottom: 80px;
    max-width: 288px;
}

.heading-main {
    text-align:center;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 40px;
}

.padding_left{
    padding-left: 0px;
}



.p_left{
    text-align: left;
    margin-bottom: 24px;
    margin-top: 2px;
}

.border{
    border-radius: 16px;
    border: 3px solid #FFD12F;
    background: rgba(255, 255, 255, 0.02);
    padding-bottom: 24px;
}

.subheadings{
    
    margin: auto;
    margin-top: 20px;
    text-align: center;
    max-width: 173px ;
    color: var(--heding-list-color);
    font-size: 1.8rem;
    font-weight: 700;

}

.border_apps_list{
    margin: 1.6rem 1.6rem 0 1.6rem;
    
    display: flex;
    align-items: flex-start;
    height: 100%;
    flex-wrap: wrap;
    margin-right: 8px;
    width: 270px;
    padding: 0;
    margin-right: 8px;
    margin-top: 9px;
    
}
.headinglist-big{
    display: flex;
    width: 229px;
    height: 100px;
    padding: 12px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.10);
    margin: 0 auto;
    margin-top: 16px;
}

.headinglist:nth-child(1){
    width: 83px;
}
.headinglist:nth-child(2){
    width: 91px;
}
.headinglist:nth-child(3){
    width: 66px;
}
.headinglist:nth-child(4){
    width: 102px;
}
.headinglist:nth-child(5){
    width: 150px;
}
.headinglist:nth-child(6){
    width: 83px;
    margin-left: 46px;
}
.headinglist:nth-child(7){
    width: 77px;
}

.headinglist{
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.10);
    margin-right: 0.8rem;
    height: 24px;
    display: flex;  
    align-items: center;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    border-radius: 0.4rem;
    padding: 0;
    margin-right:8px;
    margin-top: 9px;

}

.headinglist-bottom{
    width: 80px;
    height: 30px;
    display: inline-flex;
    padding: 8px 34px 8px 8px;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.10);
    margin: 0 auto;
    margin-bottom: 12px;
}

.border_blockch_list{
    margin: auto;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
}

.wrapper_roadmap{
    margin: 0 auto;
    margin-bottom: 80px;
    max-width: 288px;
    text-align: left;
    border-radius: 16px;
    background: linear-gradient(123deg, #A96BF7 2.02%, #3103B5 101.68%);
    min-height: 404px;
}

.heading_roadmap{
    padding: 16px 0px 8px 16px;
    font-size: 2.8rem;
    font-weight: 700;
    text-align: left;

}
.text_roadmap{
    margin: 0px;
    padding-left:16px ;
}

.list_roadmap{
    
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}

.card{
    margin: auto;
    margin-top: 40px;
    width: 288px;
}

.card_img{

    width: 288px;
    height: 120px;

}

.card_button{
    padding-top: 20px;
    text-align: left;
    padding-bottom: 10px;
    background-color:  #1B2A40;
}

.card_subheadings{

    margin: 0px;
    color: var(--heding-list-color);
    font-size: 1.8rem;
    font-weight: 700;
    margin-left: 20px;
    
}

.card_text{
    width: 248px;
    margin-left: 20px;    
}
   

.link_rodmap_start{
    background-color: var(--heding-list-color);
    color: var(--background-color);
    text-decoration: none; 
    
    padding: 0.8rem 2.8rem;
    border-radius: 12px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 9px 44px 0px rgba(255, 214, 0, 0.19);

    display: flex;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    margin: 6px 16px 6px 16px;

}

.link_rodmap{
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.15);  
    color: white;
    text-decoration: none; 
    
    padding: 0.8rem 2.8rem;
    border-radius: 12px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 9px 44px 0px rgba(255, 214, 0, 0.19);

    display: flex;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    margin: 6px 16px 6px 16px;
    

}


.p_hero{
    color: #FFF;

    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    opacity: 0.8;
}

.link_start{
    background-color: var(--heding-list-color);
    color: var(--background-color);
    text-decoration: none; 
    
    padding: 0.8rem 2.8rem;
    border-radius: 12px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 9px 44px 0px rgba(255, 214, 0, 0.19);


    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    

}

.link_button {
    background-color: var(--heding-list-color);
    display: inline-flex;
    padding: 8px 28px;
    justify-content: center;
    align-items: center;  
    border-radius: 12px;
    box-shadow: 0px 9px 44px 0px rgba(255, 214, 0, 0.19);
}







.block-center{
    text-align: center;
}



.heading{
    text-shadow: 0px 2px 25px rgba(0, 0, 0, 0.60);

    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
}




section{
    text-align: center;
}



.footer{
    color: #000000;
    flex-shrink: 0;
    background: linear-gradient(180deg, #FFD600 0%, #FFC700 100%);
    padding: 1.93rem 1.6rem 2.4rem 1.65rem;
}



.footer_top_link{
    color: var(--text-color2);
    font-size: 1.6881rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.3762rem; /* 200% */
    letter-spacing: 0.0307rem;
    opacity: 0.8;
}

.footer_top_list{
    display: flex;
    justify-content: space-between;
}

.footer_bottom{
    display: flex;
    justify-content: space-between;
}

.footer_bottom_item {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.4rem;
    opacity: 0.7;
    /* margin: 1.89rem; */
  }